* {
    box-sizing: border-box;
}

#savedMVPs {
    border: 2px solid black;
    margin: 24px;
    padding: 24px;
}


/* .container {
    border: 2px solid black;
    padding: 24px;
    margin: 24px;
}

.notification {
    border: 2px solid black;
    padding: 24px;
    margin: 24px;
}

.card {
    border: 2px solid black;
    padding: 24px;
    margin: 24px;
}

.card-content {
    border: 2px solid black;
    padding: 24px;
    margin: 24px;
} */

.content {
    border: 2px solid black;
    padding: 24px;
    margin: 24px;
}


/* .columns {
    overflow: auto;
}

.column {
    float: left;
    border: 2px dotted black;
    width: 60%;
}

#column-2 {
    width: 40%;
} */

.statsInfo {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    text-align: center;
}