* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.hero-body {
    background-color:  #1a1e41;
    padding: 12px;
}

#savedMVPs {
    border: 2px solid;
    background-color: #8590AA;
    margin: 0px;
    padding: 24px;
    width: 100%;
}


.titles{
    color:white;
    font-size: 32px
}

/* .notification {
    border: 2px solid black;
    padding: 24px;
    margin: 24px;
}

.card {
    border: 2px solid black;
    padding: 24px;
    margin: 24px;
}

.card-content {
    border: 2px solid black;
    padding: 24px;
    margin: 24px;
} */

.content {
    padding: 24px;
    margin: 24px; 
} 

.container {
  
    padding: 10px;
    margin: 24px;
    
}

#logo {
    width:40%;
    padding:5px;
    margin: 5px 0px 5px 0px
    
    }

    .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
        color: #b60c2e;
        font-weight: 600;
        line-height: 1.125;
    }

.search {
    padding-top: 10px;
    padding-left: 30px;
    width:40%;
}
    

/* .columns {
    overflow: auto;
}

.column {
    float: left;
    border: 2px dotted black;
    width: 60%;
}

#column-2 {
    width: 40%;
} */

.statsInfo {
    border: 2px solid #8590AA;
    background-color: #1a1e41;
    padding: 10px;
    margin: 5px;
    text-align: left;
    color: #ffffff;
}

#player-search-input {
width: 360px
}

#search-btn {
    background-color: #b60c2e;
    border-color: #c4DBF6; 
}


#savePlayerBtn {
    border: 1px solid;
    border-color: #c4DBF6;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
    border-radius: 5px;
    background-color: #b60c2e;
    padding: 5px;
    margin: 10px;
   
}

.savedPlayer {
    border: 1px solid;
    border-color: #c4DBF6;
    color: #ffffff;
    border-radius: 5px;
    background-color: #b60c2e;
    padding: 10px;
    margin: 10px;
    display: inline-flex;
    font-weight: bold;
}

#ytBox {
overflow: auto;

}

#currentImage {

    overflow: auto;
}

#name,
#team {
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding: 10px;
}